
01_datos/DiccionarioUNAfin.rds
01_datos/covid_2.rds
01_datos/covid_6Mar20.rds
apikey/contraseñaTranslateEmojis.json
01_datos/prop_internet.rds
02_scripts/prop_usuarios_internet.R
.Rhistory
01_datos/covid_02ABR20.rds
01_datos/covid05MAY20.rds
01_datos/covid_mex_20200401.xlsx
01_datos/Cuadros_HTML2.xlsx
01_datos/covid_20MAY20.rds
.Rproj.user
